.slider {
   max-width: 100%;
   overflow: hidden;
   display: inline-block;
   user-select: none;
   cursor: default;
}

.slider_slides-wrapper {
   position: relative;
   max-width: 100%;
}

.slider_slide {
   width: 100%;
   height: 100%;
   background-color: #eee;
   position: absolute;
   top: 0;
   left: 0;
   background-size: 100%;
   background-repeat: no-repeat;
   transition: 0.3s linear;
   opacity: 0;
   visibility: hidden;
}

.slider_slide--faded-in {
   opacity: 1;
   visibility: visible;
}

.slider_nav {
   transition: 0.2s linear;
   opacity: 0;
   visibility: hidden;
}

.slider_slides-wrapper:hover .slider_nav {
   opacity: 1;
   visibility: visible;
}

.slider_nav_btn,
.slider .slider_nav_btn:disabled {
   cursor: pointer;
   font-size: 35px;
   border: none;
   outline: none;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   line-height: 0;
   padding: 30px 20px;
   color: white;
   background-color: rgba(0,0,0,0.3);
}

.slider_nav_btn:disabled {
   visibility: hidden;
}

.slider_nav_btn:hover {
   background-color: rgba(0,0,0,0.4);
}

.slider_nav_btn:first-child {
   left: 0;
}

.slider_nav_btn:last-child {
   right: 0;
}

.slider_pagination {
   text-align: center;
   margin: 10px 0;
}

.slider_pagination_btn {
   padding: 6px;
   display: inline-block;
   border-radius: 50%;
   background-color: #ddd;
   margin: 8px;
   cursor: pointer;
   position: relative;
}

.slider_pagination_btn:before {
   content: '';
   position: absolute;
   left: -4px;
   right: -4px;
   bottom: -4px;
   top: -4px;
}

.slider_pagination_btn:hover {
   background-color: #ccc;
}

.slider_pagination_btn.slider_pagination_btn--sel {
   background-color: #333;
}


@media screen and (max-width: 1000px) {

.slider_nav {
   opacity: 1;
   visibility: visible;
}

}


@media screen and (max-width: 640px) {

.slider_nav_btn {
   font-size: 20px;
   padding: 20px 15px;
}

.slider_pagination_btn {
   padding: 4px;
   margin: 6px;
}

}